<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Build IO - Home</title>
    <link rel="stylesheet" href="../static/css/materialize.css">
    <link rel="stylesheet" href="../static/css/iconfont/material-icons.css">
    <link rel="stylesheet" href="../static/css/style.css">
</head>

<body class="blue">
    <nav class="black lighten-4">
        <div class="nav-wrapper">
            <div class="row">
                <div class="col l4 m6 s12">
                    <ul>
                        <li>
                            <a href="">
                                <i class="material-icons large">view_week</i>
                                <h5></h5>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <h5>Build</h5>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col l4 m6 s12 offset-m1">

                    <ul>
                        <li>
                            <a href="">Products</a>
                        </li>
                        <li>
                            <a href="">Services</a>
                        </li>
                        <li>
                            <a href="">Customers</a>
                        </li>
                        <li>
                            <a href="">Pricing</a>
                        </li>

                    </ul>
                </div>
                <div class="col l2 m6 s12 offset-l2">
                    <ul>
                        <li>
                            <a href="{{url_for('login')}}">Login</a>
                        </li>
                        <li>
                            <a href="{{url_for('login')}}">Sign Up</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    <br>

    <!--CAROUSEL-->
    <div class="row box">
        <div class="carousel carousel-slider">
            <a href="#one!" class="carousel-item">
                <img src="../static/img/1200px-Xamarin-logo.svg.png">
            </a>
        </div>
    </div>

    <br>

    <!--ABOUT-->
    <div class="row box">
        <div class="col l4 m5 s10">
            <ul>
                <li class="center">
                    <a href="" class="btn-floating btn-large wave-effects blue">
                        <i class="material-icons medium">build</i>
                    </a>
                </li>
                <li>
                    <h5 class="black-text darken-2 center">Seamless</h5>
                </li>
                <li class="center-align grey-text darken-1">
                    <h6>Designed to give you the flexibility of a custom analytics stack, without the hassle and risk of managing
                        big data infrastructure.</h6>
                </li>
            </ul>
        </div>
        <div class="col l4 m6 s10">
            <ul>
                <li class="center">
                    <a href="" class="btn-floating btn-large wave-effects blue">
                        <i class="material-icons medium">schedule</i>
                    </a>
                    <li>
                        <h5 class="black-text darken-2 center">Faster</h5>
                    </li>
                    <li class="center-align grey-text darken-1">
                        <h6>Start building now. With production-ready, highly available APIs, you can bring robust analytics
                            to your applications in a fraction of the time.</h6>
                    </li>
            </ul>
        </div>
        <div class="col l4 m6 s10">
            <ul>
                <li class="center">
                    <a href="" class="btn-floating btn-large wave-effects blue">
                        <i class="material-icons medium">crop_free</i>
                    </a>
                    <li>
                        <li>
                            <h5 class="black-text darken-2 center">Scalable</h5>
                        </li>
                        <li class="center-align grey-text darken-2">
                            <h6>Collect every metric, every single time, and surface important events immediately. Nothing is
                                lost, no matter how fast you grow.</h6>
                        </li>
            </ul>
        </div>
    </div>

    <!--POPULAR TOOLS-->
    <div class="row grey darken-4">
        <div class="container">
            <h3 class="white-text center-align">Popular</h3>
            <div class="row">
                <div class="col l4 m6 s10">
                    <img src="../static/img/Python_96px.png">
                </div>
                <div class="col l3 m6 s10 offset-l1">
                    <img src="../static/img/Java_96px.png">
                </div>
                <div class="col l3 m6 s10 offset-l1">
                    <img src="../static/img/Android_96px.png">
                </div>
            </div>
            <div class="row">
                <div class="col l4 m6 s10">
                    <img src="../static/img/Xamarin_96px.png">
                </div>
                <div class="col l3 m6 s10 offset-l1">
                    <img src="../static/img/VB_96px.png">
                </div>
                <div class="col l3 m6 s10 offset-l1">
                    <img src="../static/img/MySQL_96px.png">
                </div>
            </div>
        </div>
    </div>

    <!--PROJECTS-->


    <!--FOOTER-->
    <footer class="page-footer blue">
        <div class="row">
            <div class="col l3 m6 s12 offset-l1">
                <ul>
                    <li>Home</li>
                    <li>About</li>
                    <li>Contact</li>
                </ul>
            </div>
            <div class="col l3 m6 s12 offset-l1">
                <ul>
                    <li>Products</li>
                    <li>Solutions</li>
                    <li>Customers</li>
                    <li>Pricing</li>
                    <li>Docs</li>
                </ul>
            </div>
            <div class="col l3 m6 s12 offset-l1">
                <ul>
                    <li>Login</li>
                    <li>Sign Up</li>
                    <li>Support</li>
                </ul>
            </div>
        </div>
        <div class="footer-copyright">
            <p class="left">Build Technologies ZW. Copyright &copy; 2018</p>
            <p class="left">Made with
                <i class="material-icons small">favorite</i> by Build</p>
        </div>
    </footer>

    <!--SCRIPTS-->
    <script src="../static/js/jquery-2.1.1.js"></script>
    <script src="../static/js/materialize.js"></script>
    <script>
        M.AutoInit();
    </script>
</body>


</html>